body {
    background: linear-gradient(to right, #f5e5f5, #f1b8f7, #ca90c0);
    font-family: cursive;
}

.container {
    width: 100%;
}

.contact {
    padding: 5px;
    width: 150px;
    background-color: #da79c8;
    border: none;
}

span {
    color: rgb(207, 59, 207);
}

.start{
    padding: 5px;
    width: 150px;
    background: linear-gradient(to right, #e689d6, #f38cf7);
    border: none;
    border-radius: 5px;
}